<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
    <% if(errorMessage) { %>
      <div class="alert alert-danger" role="alert">
         <%= errorMessage %>
        </div>
    <% } %>
    <div class="row">
      <div class="col-4 mx-auto">
        <form action="/reset-password/<%= resetToken %>" method="POST">
          <div class="form-group">
              <label for="password">New Password</label>
              <input
              type="password"
              name="password"
              class="form-control"
              id="password-input"
              required
              >
              <p>Minimum 8 characters</p>
            </div>
            <div class="form-group">
              <label for="confirm-password">Verify New Password</label>
              <input
              type="password"
              name="confirmPassword"
              class="form-control"
              id="confirm-password"
              required>
            </div>
             <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
            </form>
      </div>
    </div>
  </div>

  <%- include('../includes/scripts.ejs') %>
</body>
