<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
<div class="container">
  <% if(errors) { %>
    <div class="alert alert-danger" role="alert">
       <%= errors %>
      </div>
  <% } %>
  <div class="row">
    <div class="col-6 mx-auto">
        <form action="/signup" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
              <div class="form-check">
                <input
                class="form-check-input"
                type="checkbox"
                id="isAssociation-check"
                name="isAssociation"
                <% let checked = inputBackUp.checked ? "checked" : "" %>
                <%= checked %>
                >
                <label class="form-check-label" for="isAssociation-check">
                  Cochez cette case si vous êtes une association
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input
              type="text"
              name="username"
              class="form-control"
              id="username-input"
              value="<% if (inputBackUp) {%><%= inputBackUp.username %><% } %>"
              required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
              type="email"
              name="email"
              class="form-control"
              id="email-input"
              aria-describedby="emailHelp"
              value="<% if (inputBackUp) {%><%= inputBackUp.email %><% } %>"
              required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
              type="password"
              name="password"
              class="form-control"
              id="password-input"
              value="<% if (inputBackUp) {%><%= inputBackUp.password %><% } %>"
              required>
              <small id="passwordHelp" class="form-text text-muted">Minimum 8 characters.</small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <a class="nav-link" href="/login">Already an account ? click here</a>
    </div>
  </div>
</div>

  <%- include('../includes/scripts.ejs') %>
</body>
