<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container-fluid profile_edit">
    <% if(errorMessage || error) { %>
      <div class="alert alert-danger" role="alert">
         <%= errorMessage || error %>
      </div>
    <% } %>
    <div class="row justify-content-center">
      <div class="col-4">
        <ul>
            <li><a href="/users/profile/settings">Settings</a></li>
            <% if(isAssociation) { %>
              <li><a href="/users/job/list">My Job</a></li>
            <% } %>
            <li><a href="/users/profile" class="button_see-profile">Voir Profile</a></li>
        </ul>

      </div>
      <div class="col-7">
        <form action="/users/edit" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="card">
                <div class="card-header">
                  Identity
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="username-input"
                        value="<% if(profileData) { %><%= profileData.username %><% } %>"
                        placeholder="Username"
                      >
                      </div>
                    <div class="form-group">
                      <label for="inputEmail4">Email</label>
                      <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="inputEmail4"
                      value="<% if(profileData) { %><%= profileData.email %><% } %>"
                      placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input
                      type="text"
                      class="form-control"
                      id="inputAddress"
                      name="street"
                      value="<% if(profileData) { %><%= profileData.street %><% } %>"
                      placeholder="1234 Main St"
                      >
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input
                        type="text"
                        class="form-control"
                        name="city"
                        id="inputCity"
                        value="<% if(profileData) { %><%= profileData.city %><% }%>"
                        >
                      </div>
                      <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input
                      type="text"
                      name="zip"
                      class="form-control"
                      id="inputZip"
                      value="<% if(profileData) { %><%= profileData.zip %><% } %>"
                      >
                    </div>
                  </div>
              </div>

            </div>

            <button type="submit" class="btn button_edit-profile">Save</button>
          </form>
      </div>
    </div>
  </div>


  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/scripts.ejs') %>
</body>
