<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container-fluid create_job">
      <% if(errorMessage || error) { %>
        <div class="alert alert-danger" role="alert">
           <%= errorMessage || error %>
        </div>
      <% } %>
    <div class="row">
      <div class="col-8 mx-auto my-3">
        <div class="card">
          <form action="/job/create" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="card-header">
                  Job
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="title-input">Title</label>
                      <input
                        type="text"
                        name="title"
                        class="form-control"
                        id="title-input"
                        value="<% if(profileData) { %><%= profileData.title %><% } %>"
                      >
                  </div>
                  <div class="form-group">
                    <label for="description-input">Description</label>
                      <textarea
                      class="form-control"
                      name="description"
                      id="description-input"
                      ><% if(profileData) { %><%= profileData.description %><% } %></textarea>
                  </div>

                  <div class="form-group">
                    <label for="street-input">Street</label>
                    <input
                    type="text"
                    class="form-control"
                    id="street-input"
                    name="street"
                    value="<% if(profileData) { %><%= profileData.street %><% } %>"
                  >
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="city-input">City</label>
                      <input
                      type="text"
                      class="form-control"
                      name="city"
                      id="city-input"
                      value="<% if(profileData) { %><%= profileData.city %><% }%>"
                      >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="zip-input">Zip</label>
                      <input
                      type="text"
                      name="zip"
                      class="form-control"
                      id="zip-input"
                      value="<% if(profileData) { %><%= profileData.zip %><% } %>"
                      >
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="datepicker-start">Start</label>
                        <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                          <input
                          type="text"
                          class="form-control"
                          name="datepickerStart"
                          id="datepicker-start"
                          value="<% if (profileData) { %><%= profileData.start %><% } %>"
                          >
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                          </div>
                        </div>

                      </div>
                      <div class="form-group col-md-6">
                        <label for="datepicker-end">End</label>
                        <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy">
                            <input
                            type="text"
                            class="form-control"
                            id="datepicker-end"
                            name="datepickerEnd"
                            value="<% if (profileData) { %><%= profileData.end %><% } %>"
                            >
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>

                <button type="submit" class="button_settings">Save</button>
              </form>
            </div>
      </div>
    </div>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/scripts.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
</body>
