<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
    List page
    <div class="container">
      <% if(list.length > 0) { %>
        <% list.forEach(job => { %>
          <div class="card">
              <div class="card-header">
                <%= job.title %>
              </div>
              <div class="card-body">
                <p class="card-text"><%= job.description %></p>
                <p class="card-text"><%= job.city %></p>
                <p class="card-text"><%= job.street %></p>
                <p class="card-text"><%= job.zip %></p>
                <p class="card-text"><%= moment(job.start).format('DD/MM/YYYY') %></p>
                <p class="card-text"><%= moment(job.end).format('DD/MM/YYYY') %></p>
                <a href="/users/job/<%= job._id %>" class="btn btn-primary">See</a>
              </div>
            </div>
        <% }); %>
        <% } else { %>
          <h1>No Job Found!</h1>
        <% } %>
    <a href="/job/create" class="btn btn-primary">Create Job</a>
  <%- include('../includes/scripts.ejs') %>
</body>
